@media(max-width:767px) {
    .container-never {
        width: 60%;
        margin: 0 auto;
    }

    .never-give-up {
        position: absolute;
        width: 60%;
        flex-wrap: wrap;
        text-align: center;
        font-size: 40px;
        color: rgb(238, 238, 238);
        font-variant: small-caps;
        font-family: 'Montserrat';
        box-shadow: none;
        margin-top: 38%;
    }

    .resume {
        display: flex;
        justify-content: space-between;
        padding-top: 7%;
    }

    .home {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .avatar {
        text-align: center;
        flex: 0 1 50%;
    }

    .developer {
        flex: 0 1 75%;
    }

    .avatar img {
        width: 80%;
        object-fit: cover;
        object-position: center;
    }

    .home_text {
        text-align: center;
        width: 100%;
        margin-bottom: 6%;
    }

    .additional h2 {
        padding: 20px 0;
        text-align: center;
        color: darkblue;
        font-size: 25px;
    }

    .additional p {
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }

    .home_text h2 {
        font-size: 16px;
    }


    .skills {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-style: dashed;
        padding: 30px 0;
    }

    .js_text {
        text-align: center;
        flex: 0 1 28%;
    }

    .js_text h3 {
        font-size: 22px;
        font-family: 'Montserrat';
        color: gold;
    }

    .youself {
        flex: 0 1 68%;
        border-end-end-radius: 20%;
        border-top-left-radius: 20%;
        box-shadow: 2px 0px 30px 2px red;
    }

    .add {
        display: flex;
        align-items: center;
        width: 95%;
        height: 3px;
        border-style: outset;
        margin: 0 0 0 10px;
    }

    .skill_html,
    .skill_css,
    .skill_react,
    .skill_js {
        font-size: 14px;
        height: 2.5vh;
        background-color: rgb(0, 68, 255);
        border-radius: 20px;
        font-family: 'Montserrat';
        font-weight: 600;
    }

    .skill_js {
        width: 65%;
    }

    .skill_html,
    .skill_css {
        width: 100%;
    }

    .skill_react {
        width: 65%;
    }

    .skill {
        padding: 0;
    }

    .skill h2 {
        padding: 15px 0;
        color: rgba(255, 255, 255, 0.812);
        font-family: 'Montserrat';
        font-size: 17px;
    }

    .youself h4 {
        font-size: 12px;
    }


}