* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container-never {
    width: 60%;
    margin: 0 auto;
}

.never-give-up {
    position: absolute;
    width: 60%;
    flex-wrap: wrap;
    text-align: center;
    font-size: 130px;
    color: rgba(238, 238, 238, 0.700);
    font-variant: small-caps;
    font-family: 'Montserrat';
    margin-top: 5%;
    z-index: -50;
}



body {
    background: url('../img/asta.jpg') center/cover no-repeat;
}

.background {
    background-color: rgba(0, 0, 0, 0.575);
    animation-name: example;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}


@keyframes example {
    0% {
        background-color: rgba(0, 0, 255, 0.500);
    }

    10% {
        background-color: rgba(0, 128, 0, 0.500);
    }

    20% {
        background-color: rgba(210, 105, 30, 0.500);
    }

    30% {
        background-color: rgba(255, 105, 180, 0.500);
    }

    40% {
        background-color: rgba(184, 135, 11, 0.500);
    }

    50% {
        background-color: rgba(220, 20, 60, 0.500);
    }

    60% {
        background-color: rgba(245, 222, 179, 0.500);
    }

    70% {
        background-color: rgba(0, 0, 139, 0.500);
    }

    80% {
        background-color: rgba(0, 0, 0, 0.500);
    }

    95% {
        background-color: rgba(137, 43, 226, 0.500);
    }
}



.resume {
    display: flex;
    justify-content: space-between;
}

.avatar {
    text-align: center;
    flex: 0 1 25%;
}

.developer {
    flex: 0 1 75%;
}

.avatar img {
    width: 80%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.additional,
.home_text {
    text-align: center;
    width: 100%;
    margin-bottom: 6%;
}

.home_text h2 {
    color: rgb(244, 166, 20);
    text-shadow: 1px 1px 18px rgb(255, 255, 0);
}

.additional p {
    font-size: 20px;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-style: dashed;
    padding: 20px 0;
}

.js_text {
    text-align: center;
    flex: 0 1 24%;

}

.js_text h3 {
    padding-bottom: 20px;

}

.youself {
    flex: 0 1 75%;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.288);
    border-end-end-radius: 50%;
    border-right: 15px;
    border-right-style: dotted;
    border-left: 15px;
    border-left-style: double;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.add {
    width: 95%;
    height: 4vh;
    border: 2px solid rgb(0, 199, 17);
}

.skill_html,
.skill_css,
.skill_react,
.skill_js {
    height: 3.5vh;
    background-color: rgb(0, 68, 255);
    border-radius: 20px;
}

.skill_js {
    width: 65%;
}

.skill_html,
.skill_css {
    width: 100%;
}

.skill_react {
    width: 60%;
}

.skill {
    padding: 0 0 10px 0;
}

.projects {
    margin-top: 5%;
    text-align: center;
}