@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container-never {
    width: 60%;
    margin: 0 auto;
}

.never-give-up {
    position: absolute;
    width: 60%;
    flex-wrap: wrap;
    text-align: center;
    font-size: 130px;
    color: rgba(238, 238, 238, 0.700);
    font-variant: small-caps;
    font-family: 'Montserrat';
    margin-top: 5%;
    z-index: -50;
}



body {
    background: url('../img/asta.jpg')center/cover no-repeat;
}

.background {
    background-color: rgba(0, 0, 0, 0.500);
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}


@keyframes example {
    0% {
        background-color: rgba(0, 0, 255, 0.450);
    }

    10% {
        background-color: rgba(0, 128, 0, 0.450);
    }

    20% {
        background-color: rgba(210, 105, 30, 0.450);
    }

    30% {
        background-color: rgba(255, 0, 0, 0.450);
    }

    40% {
        background-color: rgba(184, 135, 11, 0.450);
    }

    50% {
        background-color: rgba(220, 20, 60, 0.450);
    }

    60% {
        background-color: rgba(245, 222, 179, 0.450);
    }

    70% {
        background-color: rgba(0, 0, 139, 0.450);
    }

    80% {
        background-color: rgba(0, 0, 0, 0.450);
    }

    95% {
        background-color: rgba(137, 43, 226, 0.450);
    }
}



.resume {
    display: flex;
    justify-content: space-between;
    padding: 4% 0;
}

.avatar {
    flex: 0 1 24%;
    margin-left: 30px;
}

.developer {
    flex: 0 1 74%;
}

.avatar img {
    width: 80%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.developer {
    font-size: 18px;
}

.home_text {
    text-align: center;
}

.home_text h2 {
    text-shadow: 1px 1px 18px rgb(255, 255, 0);
    animation-name: home;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes home {
    0% {
        color: rgba(255, 255, 255, 0.700);
    }

    20% {
        color: rgba(0, 0, 0, 0.700);
    }

    40% {
        color: rgba(255, 255, 255, 0.700);
    }

    60% {
        color: rgba(0, 0, 0, 0.700);
    }

    80% {
        color: rgba(255, 255, 255, 0.700);
    }

    100% {
        color: rgb(0, 0, 0.700);
    }
}

.additional h2 {
    text-align: center;
    padding: 20px 0;
    color: darkblue;
    font-size: 28px;
}

.additional p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-style: dashed;
    padding: 30px 0;
}

.js_text {
    text-align: center;
    flex: 0 1 24%;

}

.js_text h3 {
    font-size: 25px;
    font-family: 'Montserrat';
    color: gold;
}

.youself {
    flex: 0 1 74%;
    border-end-end-radius: 20%;
    border-top-left-radius: 20%;
    box-shadow: 2px 0px 30px 2px red;
}

.add {
    display: flex;
    align-items: center;
    width: 95%;
    height: 4.4vh;
    border-style: outset;
    margin: 0 0 0 10px;
}

.skill_html,
.skill_css,
.skill_react,
.skill_js {
    height: 3.5vh;
    background-color: rgb(0, 68, 255);
    border-radius: 20px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
}

.skill_js {
    width: 65%;
}

.skill_html,
.skill_css {
    width: 100%;
}

.skill_react {
    width: 65%;
}

.skill {
    padding: 10px 0;
}

.skill h2 {
    padding: 15px 0;
    color: rgba(255, 255, 255, 0.812);
    font-family: 'Montserrat';
}

.projects {
    margin: 1% 0 0 0;
    border-style: solid;
    animation-name: home;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    padding: 20px 0 30px 0;
}

.projects h2 {
    margin-top: 5%;
    padding-bottom: 20px;
    text-align: center;
    animation-name: home;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}