* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('https://kartinkin.net/uploads/posts/2021-07/1627190927_15-kartinkin-com-p-fon-krishi-iz-anime-anime-krasivo-18.jpg')center/cover no-repeat;
}

.background {
    background-color: rgba(0, 0, 0, 0.575);
}

.resume {
    display: flex;
    justify-content: space-between;
}

.avatar {
    flex: 0 1 23%;
}

.developer {
    flex: 0 1 77%;
}

.avatar img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home_text {
    text-align: center;
    width: 100%;
    margin-bottom: 6%;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-style: dashed;
    padding: 20px 0;
}

.js_text {
    text-align: center;
    flex: 0 1 24%;
}

.js_text h3 {
    padding-bottom: 20px;
}

.youself {
    flex: 0 1 75%;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.288);
    border-end-end-radius: 50%;
    border-right: 15px;
    border-right-style: dotted;
    border-left: 15px;
    border-left-style: double;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.add {
    width: 100%;
    height: 4vh;
    border: 2px solid rgb(0, 199, 17);
}

.skill_html,
.skill_css,
.skill_react,
.skill_js {
    height: 3vh;
    background-color: rgb(0, 68, 255);
    border-radius: 50px;
}

.skill_js {
    width: 65%;
}

.skill_html,
.skill_css {
    width: 100%;
}

.skill_react {
    width: 60%;
}

.skill {
    padding: 0 0 10px 0;
}

.wave {
    display: flex;
    align-items: flex-start;
    list-style: none;
    padding: 0 0 0 10px;
    justify-content: center;
    color: rgba(255, 255, 255, 0.664);

}

.wave li {
    width: 30px;
    height: 30px;
    border: 4px solid yellow;
    transform: rotate(-37deg) skewX(14deg);
    transform-origin: center;
    margin: 0 10px;
}